<header th:fragment="header">
    <h3 th:text="#{client.ip}">Información del Cliente</h3>
    <p>
        <span th:text="#{client.ip}"></span> <span th:text="${clientIp}"></span> |
        <span th:text="#{client.userAgent}"></span> <span th:text="${userAgent}"></span><br>
        <span th:text="#{client.os}"></span> <span th:text="${os}"></span> |
        <span th:text="#{client.renderEngine}"></span> <span th:text="${renderEngine}"></span><br>
        <span th:text="#{client.hostName}"></span> <span th:text="${hostName}"></span> |
        <span th:text="#{client.locale}"></span> <span th:text="${locale}"></span>
    </p>
</header>
